---
interface Section {
  label: string;
}

interface Props {
  sections: Section[];
}

const { sections } = Astro.props;
---

<div class="sov-print-toc">
  <h2>Sisällysluettelo</h2>
  <ol class="sov-print-toc-list">
    {sections.map(s => <li>{s.label}</li>)}
  </ol>
</div>
